/* --------------------------------------
$Author: ThemeMascot
$URL: https://themeforest.net/user/ThemeMascot

----------------------------------------- */
$total-theme-colors: 4;

$theme-color1: #3dabe3;
$theme-color2: #002f5d;
$theme-color3: #FF6501;
$theme-color4: #003A6B;

@import "parts/loader";