@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
    display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-001-heart-rate:before { content: "\f100"; }
.flaticon-002-dollar-note:before { content: "\f101"; }
.flaticon-003-piggy-bank:before { content: "\f102"; }
.flaticon-004-locker:before { content: "\f103"; }
.flaticon-005-handshake:before { content: "\f104"; }
.flaticon-006-house:before { content: "\f105"; }
.flaticon-007-aeroplane:before { content: "\f106"; }
.flaticon-008-box:before { content: "\f107"; }
.flaticon-009-money:before { content: "\f108"; }
.flaticon-010-cruise-ship:before { content: "\f109"; }
.flaticon-011-fire:before { content: "\f10a"; }
.flaticon-012-car:before { content: "\f10b"; }
.flaticon-013-man:before { content: "\f10c"; }
.flaticon-014-lifesaver:before { content: "\f10d"; }
.flaticon-015-man:before { content: "\f10e"; }
.flaticon-016-military-jeep:before { content: "\f10f"; }
.flaticon-017-portfolio:before { content: "\f110"; }
.flaticon-018-bulb:before { content: "\f111"; }
.flaticon-019-worker:before { content: "\f112"; }
.flaticon-020-scale:before { content: "\f113"; }
.flaticon-021-hammer:before { content: "\f114"; }
.flaticon-022-paper:before { content: "\f115"; }
.flaticon-023-shield:before { content: "\f116"; }
.flaticon-024-credit-card:before { content: "\f117"; }
.flaticon-025-file:before { content: "\f118"; }
.flaticon-026-love:before { content: "\f119"; }
.flaticon-027-clipboard:before { content: "\f11a"; }
.flaticon-028-pet-insurance:before { content: "\f11b"; }
.flaticon-029-shield:before { content: "\f11c"; }
.flaticon-030-home-insurance:before { content: "\f11d"; }
.flaticon-031-baby-boy:before { content: "\f11e"; }
.flaticon-032-bank:before { content: "\f11f"; }
.flaticon-033-global:before { content: "\f120"; }
.flaticon-034-buy-home:before { content: "\f121"; }
.flaticon-035-calculator:before { content: "\f122"; }
.flaticon-036-car:before { content: "\f123"; }
.flaticon-037-industry:before { content: "\f124"; }
.flaticon-038-medical-insurance:before { content: "\f125"; }
.flaticon-039-user:before { content: "\f126"; }
.flaticon-040-building:before { content: "\f127"; }
.flaticon-041-insurance:before { content: "\f128"; }
.flaticon-042-mobile-phone:before { content: "\f129"; }
.flaticon-043-bicycle:before { content: "\f12a"; }
.flaticon-044-eye-insurance:before { content: "\f12b"; }
.flaticon-045-coffin:before { content: "\f12c"; }
.flaticon-046-plastered-foot:before { content: "\f12d"; }
.flaticon-047-alert:before { content: "\f12e"; }
.flaticon-048-shield:before { content: "\f12f"; }
.flaticon-049-shield:before { content: "\f130"; }
.flaticon-050-house:before { content: "\f131"; }

$font-Flaticon-001-heart-rate: "\f100";
$font-Flaticon-002-dollar-note: "\f101";
$font-Flaticon-003-piggy-bank: "\f102";
$font-Flaticon-004-locker: "\f103";
$font-Flaticon-005-handshake: "\f104";
$font-Flaticon-006-house: "\f105";
$font-Flaticon-007-aeroplane: "\f106";
$font-Flaticon-008-box: "\f107";
$font-Flaticon-009-money: "\f108";
$font-Flaticon-010-cruise-ship: "\f109";
$font-Flaticon-011-fire: "\f10a";
$font-Flaticon-012-car: "\f10b";
$font-Flaticon-013-man: "\f10c";
$font-Flaticon-014-lifesaver: "\f10d";
$font-Flaticon-015-man: "\f10e";
$font-Flaticon-016-military-jeep: "\f10f";
$font-Flaticon-017-portfolio: "\f110";
$font-Flaticon-018-bulb: "\f111";
$font-Flaticon-019-worker: "\f112";
$font-Flaticon-020-scale: "\f113";
$font-Flaticon-021-hammer: "\f114";
$font-Flaticon-022-paper: "\f115";
$font-Flaticon-023-shield: "\f116";
$font-Flaticon-024-credit-card: "\f117";
$font-Flaticon-025-file: "\f118";
$font-Flaticon-026-love: "\f119";
$font-Flaticon-027-clipboard: "\f11a";
$font-Flaticon-028-pet-insurance: "\f11b";
$font-Flaticon-029-shield: "\f11c";
$font-Flaticon-030-home-insurance: "\f11d";
$font-Flaticon-031-baby-boy: "\f11e";
$font-Flaticon-032-bank: "\f11f";
$font-Flaticon-033-global: "\f120";
$font-Flaticon-034-buy-home: "\f121";
$font-Flaticon-035-calculator: "\f122";
$font-Flaticon-036-car: "\f123";
$font-Flaticon-037-industry: "\f124";
$font-Flaticon-038-medical-insurance: "\f125";
$font-Flaticon-039-user: "\f126";
$font-Flaticon-040-building: "\f127";
$font-Flaticon-041-insurance: "\f128";
$font-Flaticon-042-mobile-phone: "\f129";
$font-Flaticon-043-bicycle: "\f12a";
$font-Flaticon-044-eye-insurance: "\f12b";
$font-Flaticon-045-coffin: "\f12c";
$font-Flaticon-046-plastered-foot: "\f12d";
$font-Flaticon-047-alert: "\f12e";
$font-Flaticon-048-shield: "\f12f";
$font-Flaticon-049-shield: "\f130";
$font-Flaticon-050-house: "\f131";